---
const footerYear = new Date().getFullYear();
---

<html>
  <head>
    <title>SpacePlayer - Software | Download a minimal modern desktop mp3 application developed by a kid who just loves playing with his computer</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap" rel="stylesheet">
  </head>

  <style>

    html, body{
      font-family: 'Archivo', sans-serif;
    }
  </style>

  <body class="bg-dark text-white">
    <div class="bg-success p-2">
      <img src="/player_icon.ico" width="40" height="40" alt="spaceplayer-icon" />
      <span style="font-weight:bolder;">SpacePlayer (v1.0.0)</span>
    </div>

    <div class="container mt-5" style="margin-top: 50%">
      <div class="row">
        <div class="col-md-6">
          <div>
            <img class="rounded shadow mb-3" width="100%" src="/player.png" alt="player image" />
          </div>
        </div>

        <div class="col-md-6">
          <h1>DOWNLOAD A MINIMAL DESKTOP MP3 PLAYER</h1>
          <ul>
            <li>Fast and easy to use</li>
            <li>Supports MP3's</li>
            <li>Import multiple tracks & folders</li>
            <li>Automatically creates a playlist in the background</li>
            <li>View track metadata info</li>
            <li>Control your audio playback</li>
            <li>System notifications</li>
            <li>Player changes background on every changed track</li>
            <li>Drag & drop files to the player</li>
          </ul>
          <h5>ABOUT THE DEVELOPER</h5>
          <p>My name is Happy Banda (HBFL3X). Am just a kid playing with his computer by developing computer programs and this is one of them. This project is open source, you can contribute on Github to improve and maintain it.</p>

          <div>
            <a class="btn btn-success text-center text-white mb-3" style="padding: 1rem 2rem;width:100%;" href="https://drive.google.com/uc?export=view&id=15I28J7fiEsHdttuIoerCXTxd0RVYATrK" download>
              DOWNLOAD SPACEPLAYER <img src="/download.gif" width="12" height="12" />
            </a>

            <a class="btn btn-primary mb-3 text-center text-white" style="padding: 1rem 2rem;width:100%;" href="https://github.com/HBFLEX/SpacePlayer-Desktop-Music-Player" target="_blank">
              SOURCE CODE <img src="/github.png" width="20" height="20" />
            </a>
          </div>
        </div>
      </div>
    </div>

    <footer class="mt-5 text-center p-2 bg-dark">
      SpacePlayer&copy; SpaceLabsTech {footerYear}, All rights reserved.
    </footer>
  </body>
</html>